
* {
    border: none;
    border-radius: 0;
    font-family: "Motiva Sans", "Symbols Nerd Font", sans-serif;
    font-size: 15px; 
    font-weight: 700; 
    min-height: 0;
}

window#waybar {
    background-image: url('/home/jwalters/dotfiles/waybar/.config/waybar/assets/fractal.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
}

#custom-menu, #workspaces, #cpu, #memory, #network, #clock, #window {
    background-color: transparent;
    color: #ffffff; 
}

#cpu, #memory, #network {
    padding: 0 10px;
    color: #e0e0e0;
}

#custom-menu {
    font-size: 22px; 
    padding: 0 18px;
    color: #ffffff;
    font-weight: 800;
}

#workspaces button {
    padding: 0 16px;
    color: #8b929a;

    background-color: rgba(23, 26, 33, 0.5);

    margin: 0;
    border-radius: 0;
    
    transition: color 0.1s ease;
    font-weight: 700;
    box-shadow: 0 0 0 0 transparent inset;
}

#workspaces button:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    color: #000000;
    text-shadow: none;
}

#workspaces button:hover label {
    color: #000000;
}

#workspaces button.active {
    color: #ffffff;
    font-weight: 800; 
    background-color: rgba(23, 26, 33, 0.5);

    box-shadow: 0 -4px 0 0 #ffffff inset;
}

#workspaces button.active label {
    color: #ffffff;
}

#workspaces button.active:hover {
    background-color: #ffffff;
    color: #000000;

    box-shadow: 0 -4px 0 0 #000000 inset;
}

#workspaces button.active:hover label {
    color: #000000;
}

#window {
    color: #ffffff;
    font-weight: 800; 
    font-size: 16px;
    letter-spacing: 0.5px; 
}

#clock {
    font-weight: 800;
    font-size: 16px;
    color: #ffffff;
    padding: 0 20px 0 10px;
}

#tray {
    background-color: rgba(23, 26, 33, 0.5); 
    border-radius: 4px;

    margin: 6px 12px;
    padding: 0 8px;
}
