/* Importación de variables generadas por el script */
@import "colors.css";

/* Configuración Global: Inter como base del entorno */
* {
    border: none;
    border-radius: 0;
    font-family: "Inter", "Symbols Nerd Font", sans-serif;
    font-size: 13.5px;
    min-height: 0;
    box-shadow: none;
    text-shadow: none;
}

window#waybar {
    background: @bg_color;
    color: @text_color;
    
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

/* -----------------------------------------
   SECTOR IZQUIERDO: LOGO, MENÚ Y WORKSPACES
----------------------------------------- */

#custom-logo {
    min-width: 20px;
    background-image: url('/home/jwalters/.config/waybar/assets/dragonicon.png');
    background-size: 20px 22px;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 14px;
    padding-right: 14px;
}

#custom-terminal,
#custom-browser,
#custom-files {
    padding: 0px 8px;
    background: transparent;
    color: @text_color;
}

/* EXCEPCIÓN TIPOGRÁFICA ESTRICTA: Peso 700 retiene Motiva Sans */
#custom-terminal {
    font-family: "Motiva Sans", "Symbols Nerd Font", sans-serif;
    font-weight: 700;
}

/* Pesos medios heredan Inter automáticamente */
#custom-browser, 
#custom-files {
    font-weight: 500;
}

#custom-terminal:hover,
#custom-browser:hover,
#custom-files:hover {
    background-color: @hover_bg;
    border-radius: 4px;
}

#workspaces {
    padding: 0px 4px 0px 14px;
    background: transparent;
}

#workspaces button {
    padding: 0px 4px;
    background: transparent;
    color: rgba(128, 128, 128, 0.6);
    transition: color 0.3s ease;
}

#workspaces button.active {
    color: @accent;
    text-shadow: 0 0 4px @accent;
}

#workspaces button:hover {
    color: @text_color;
}

/* -----------------------------------------
   SECTOR CENTRAL Y DERECHO
----------------------------------------- */

#window {
    font-family: "Motiva Sans", "Symbols Nerd Font", sans-serif;
    font-weight: 600;
    color: @text_color;
    background: transparent;
}

#tray, 
#pulseaudio, 
#network, 
#clock, 
#custom-notification_center {
    padding: 0px 8px;
    background: transparent;
    font-weight: 500; /* Heredan Inter */
}

#custom-notification_center {
    padding-right: 14px;
}
